<footer id="main-footer" class="site-footer clearfix">
            <div class="container">
                <div class="row">


                    <!--about widget-->
                    <div class="col-md-3 col-sm-6">
                        <section class="widget animated fadeInLeft ae-animation-fadeInLeft">
                            <h3 class="title">数据分析</h3>
                            <div class="textwidget">
                                <p>
                                    数据竞赛分析社区
                                        </p>
                                <p>机器学习竞赛中心</p>
                            </div>
                        </section>
                    </div>


                    <!--general services-->
                    <div class="col-md-3 col-sm-6  ">
                        <section class="widget animated fadeInLeft ae-animation-fadeInLeft">
                            <h3 class="title">竞赛交流</h3>
                            <div class="textwidget">
                                    <p>
                                        预测模型交流中心
                                            </p>
                                <p>人工智能挑战论坛</p>
                            </div>
                        </section>
                    </div>

                    <div class="clearfix visible-sm"></div>

                    <!--recent posts-->
                    <div class="col-md-6 col-sm-12  ">
                        <section class="widget animated fadeInLeft ae-animation-fadeInLeft">
                            <h3 class="title">联系我们</h3>

                            <div class="textwidget">
                                <p> <i class="fa fa-phone"></i> 1234567  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;  <a href="#"><i class="fa fa-weibo"></i> 论坛系统</a></p>
                                <p> <i class="fa fa-weixin"></i> wx123456  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="#"><i class="fa fa-qq"></i> 123456789 </a></p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="footer-bottom animated fadeInDown clearfix ae-animation-fadeInDown">
                    <div class="row">
                        <div class="col-sm-7">
                            <p>© Copyright 2023 论坛系统</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>