            <div class="row">
                <nav class="navbar  bg-light navbar-light justify-content-center" style="background-color: white;">
                    <ul class="navbar-nav" style="height: 1000px">
                        <li class="nav-item ">
                            <a class="nav-link" id = 'menu-home' href="teacher_homepage.html">
                                <img src="../static/image/avatar.png" style="height: 40px;">个人信息
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " id='menu-class' href="teacher_class.html"><img src="../static/image/schedule.png" style="height: 40px;">课程管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id='menu-my_race' href="teacher_my_race.html"><img alt="课程管理" src="../static/image/trophy.png"
                                                                     style="height: 40px;">比赛管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id='menu-student_submit' href="teacher_student_submit.html"><img src="../static/image/_history.png"
                                                                       style="height: 40px;">记录查询</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id='menu-add_admin' href="teacher_add_admin.html"><img src="../static/image/add_teacher.png"
                                                                                         style="height: 40px;">添加教师</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id='menu-dataShare' href="/blog/"><img src="../static/image/blog.png"
                                                                                         style="height: 40px;">知识分享</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id='menu-add_admin' href="/blog/teacher/article.html"><img src="../static/image/blogManage.png"
                                                                                         style="height: 40px;">知识管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id='menu-dataShare' href="/blog/dataShare.html?allpage=1"><img src="../static/image/dataShare.png"
                                                                                         style="height: 40px;">数据共享</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " id='menu-add_admin' href="/blog/teacher/expert.html"><img src="../static/image/duty.png"
                                                                                         style="height: 40px;">值班管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id='menu-add_admin' href="/logout"><img
                                    src="../static/image/logout.png"
                                    style="height: 40px;">退出系统</a>
                        </li>

                    </ul>
                </nav>
            </div>
